@import '../../styles/styles.scss';

.container {
  ul {
    list-style: none;
  }
   button {
     background-color: transparent;
     border: solid $spacing-px-2 $color-theme-1;
     border-radius: $spacing-1;
     padding: $spacing-2;
     cursor: pointer;
   }
}

.date-text {
  padding-top: $spacing-2;
  color: $color-theme-1;
}
