@import '../styles/styles.scss';

.container {
  ul {
    list-style: none;
  }
}

.footer {
  margin-top: $spacing-4;
}

.date-text {
  color: $color-theme-4;
  border: solid $spacing-px $color-theme-1;
  border-radius: $spacing-4;
  padding: $spacing-0 $spacing-2;
  font-weight: $font-weight-bold;
}
